@media screen
	.experience-wrapper
		@extend $fullscreen
		font-size 1.1rem
	.experience-section
		width 25%
		padding 2em
		display inline-block
		position relative
		transition all .1s linear
		.position-title
			transition all .2s ease-in-out
		&:before
			content ''
			display inline-block
			position absolute
			left 12.5%
			background white
			height 1px
			width 75%
			transition all .2s linear
			top -1em
			opacity 0
		&:after
			content ''
			display inline-block
			position absolute
			left 12.5%
			background white
			height 1px
			width 75%
			transition all .2s linear
			bottom -1em
			opacity 0
		&:hover
			.position-title
				color #fff
			&:before
				top 1em
				opacity 1
			&:after
				bottom 1em
				opacity 1
	.experience-section-main
		p
			display none
	.experience-section-featured
		display none