.experience-wrapper
	width 75%
	display inline-block
	vertical-align top
	padding 1rem
	h3
		color $shade3
		margin-top 0
.experience-section
	width 50%
	display inline-block
	vertical-align top
	padding-right .5rem
	&.featured
		width 100%
	h4
	h5
		margin 0
	.position-title
		margin 0
		font-style italic