.experience-wrapper
	width 75%
	display inline-block
	vertical-align top
	padding 1rem
	position relative
	h3
		color $shade3
		margin-top 0
.experience-section
	width 50%
	display inline-block
	vertical-align top
	&.featured
		width 100%
		.experience-section-main
			width 47%
			margin-right 3%
			display inline-block
		.experience-section-featured
			width 50%
			display inline-block
	h4
	h5
		margin 0
	.position-title
		margin 0
		font-style italic
	.project-link
		color white
		background $shade2
		margin-bottom 1em
		display inline-block
		padding .25em
		font-family $header-font