@import '_mixins'
@import '_typography'
@import '_variables'
@import 'normalize'
@import 'nib'
@import 'rupture'

@import 'resume'

*, *:before, *:after
	box-sizing border-box
	clear both
body
	margin 0 
	padding 0