@import '_mixins'
@import '_variables'
@import '_typography'
@import 'normalize'
@import 'nib'
@import 'rupture'

@import 'resume'

*, *:before, *:after
	box-sizing border-box
	clear both
body, html
	margin 0 
	padding 0
	height 100%
	width 100%
	position relative
	font-smoothing antialiased