@media screen
	.resume-navigation
		position absolute
		z-index 2
		padding 2em
		margin 0
		display inline-block
		font-family $serif-font
		list-style-type none
		font-size 1em
		.active 
			li:before
				color white
		li
			display inline block
			position relative
			text-align left
			margin-bottom .5em
			&:before
				content attr(data-section)
				color darken(red, 10)
				left 0
			&:after
				color white
				width 0
				content attr(data-section)
				display inline-block
				overflow hidden
				position absolute
				left 0
				transition width .4s .3s
			&:hover
				&:after
					width 100%