@import 'experience'
@import 'header'
@import 'navigation'
@import 'skills'
@import 'print'

@media screen
	.resume-wrapper
		padding 0
		margin 0
		display inline-block
		width 100%
		height 100%
		// background lighten(red, 15)
		position absolute