@media screen
	.sidebar-wrapper
		display inline-block
		width 25%
	.sidebar-contact-info
		background $shade1
		color white
		padding 1rem
		p
			color white
		a
			color white
	.sidebar-education
		p
			padding 0 1em
	.sidebar-education-title
		width 100%
		background $shade3
		padding .5rem 1rem
		margin .5rem 0
		h3
			color white
			margin 0
	.sidebar-recognition-title
		width 100%
		background $shade1
		padding .5rem 1rem
		margin .5rem 0
		h3
			color white
			margin 0
	//Utilities
	.toggle-button
		display inline-block
		float right
		color white
		line-height 1.5em